body {
    font-family: 'Roboto', sans-sarif;
}

#porfolio, #about, #contact {
    height: 600px;
}
/*****GRID*****/

.full-width {
    width: 1200px;
    margin: 0 auto;

}
.half-width {
    width: 600px;
    float: left;
}

/*****HEADER*****/
header {
    height: 550px;
    background: url('../img/hero-image.png');
    background-size: cover;
    
}
header h1{
    font-family: 'Lato';
    font-size: 35px;
    color: #095156;
}

    header p {
        font-family:'Roboto', sans-sarif;
        font-size: 22px;
        color: #095156;
    }


nav {
    float: right;
    padding: 50px 35x;
    
}

nav ul li {
    display: inline-block;
    background: #f0f8f6;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #095156;
    padding-left: 40px;
    padding-right: 40px;
}

header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lato';
    font-size: 70px;
    color: #095156;
    padding: 20px 0;
}
header h2 span {
    color:#6ead9e;

}

/****PORTFOLIO****/
#portfolio .full-width h2{
    font-family: 'Lato';
    font-weight: 700;
    text-align: center;
    color: #bdbf09;
}

#portfolio .full-width {
    font-family: 'Roboto';
    text-align: center;
    height: 550px;
}

#rogue {
    width: 520px;
    padding: 20px;
    margin: 10px;
    border: 2px solid #6ead9e;
}
 #rogue h3, p {
     color: #095156;
 }

#jubilee {
    width: 520px;
    height: 392px;
    padding: 20px;
    margin: 10px;
    margin-left: 20px;
    border: 2px solid #6ead9e;
}

#jubilee h3, p {
    color: #095156;
}

h1,h2,h3 {
    font-family: "Lato";
}
/*****ABOUT*****/

