html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-sarif;
    font-size: 1em;
}

#porfolio,  {
    height: auto;
}


/*****HEADER*****/
header {
    height:800px;
    background: url('../img/hero-image.png');
    background-size: cover;
    
}


header h1{
    font-family: 'Lato';
    font-size: 2em;
    color: #095156;
    background: rgba(240, 248, 246, 0.6);
    padding-left: 10px;

}

header p {
    font-family:'Roboto', sans-sarif;
    font-size:5em;
    font-weight:700;
    max-width: 100%;
    color: #095156;
}    

.holder {
    background:rgba(240, 248, 246, 0.7);
}
nav {
    float: right;
    padding: 50px 35x;
    
}

nav ul li {
    display: inline;
    background: rgba(240, 248, 246, 0.8);

}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 700;
    color: #095156;
    padding-left: 50px;
    padding-right: 45px;
}

header h2 {
    width: 100%;
    clear: both;
    font-family: 'Lato';
    font-size: 6em;
    font-weight: 700;
    color: #5d998b;
    position: relative;
    top:40%;
    left: 10px;

}

.big-name {
    font-size: 5.5rem;
    
    }

/****PORTFOLIO****/
#portfolio h2{
    font-family: 'Lato';
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    color: #bdbf09;
}

#portfolio {
    font-family: 'Roboto';
    text-align: center;
    height: auto;
}

#portfolio p {
    font-size: 2em;
}

#rogue {
    width: 50%;
    border: 2px solid #6ead9e;
}
 #rogue p {
     color: #095156;
     
    
 }
 #rogue a:link {
    font-size: 2em;
    color: #095156;
}

#rogue a:visited {
   color: #6ead9e;
}

#unplugged {
    width: 50%;
    border: 2px solid #6ead9e;
}

#unplugged p {
    color: #095156;
}

#unplugged a:link {
    font-size: 2em;
    color: #095156;
}

#unplugged a:visited {
   color: #6ead9e;
}

#jubilee {
    width: 50%;
    border: 2px solid #6ead9e;
}

#jubilee p {
    color: #095156;
}

#jubilee a:link {
    font-size: 2em;
    color: #095156;
}

#jubilee a:visited {
   color: #6ead9e;
}

h1,h2,h3 {
    font-family: "Lato";
}
/*****ABOUT*****/

#about {
    background: #fbfbfb;
    height: auto;
    width: 100%;
}

#about img {
    border: 2px solid #6ead9e;
    

}
#about h2 {
    font-family: "Lato";
    font-size: 2.5rem;
    font-weight: 700;
    color: #095156;
}

#about p {
    color: #095156;
    font-size: 2em;
}
/*******CONTACT*******/

#contact  {
    text-align: center;
    margin: 0 auto;
}
#contact h2 {
    font-family: 'Lato';
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    color: #bdbf09;
}
#contact {
    width:100%;
    text-align: center;
    height: auto;
}
#contact h4 {
    font-family: "Lato";
    color: #095156;
    
}
#contact #hire-me a{
    color: #095156;
    text-align: center;
}

#contact #follow-me a {
color:#bdbf09;

}


@media only screen and (min-device-width : 768px) {
    header {
        height:auto;
    }

    header h1 {
        font-size: 1.75em;
    }

    header h2 {
        font-size: 5em;

    }

    header p {
        font-size: 4.5em;

    }

    .big-name {
        font-size: 5rem;
        
        }

    #portfolio h2 {
        font-size: 2.5em;
    }

    #portfolio p {
        font-size: 1.5em;
    }

    #about h2 {
        font-size: 2rem;
    }

    #about p {
        font-size: 1.5rem;
    }

    #contact h2 {
        font-size: 2.5em;
    }


    @media only screen and (min-device-width : 1400px) {
        header {
            height: 500px;
        }
    
        header h1 {
            font-size: 1.5em;
        }
    
        header h2 {
            font-size: 4em;
    
        }
    
        header p {
            font-size: 3em;
    
        }

        .big-name {
            font-size: 4rem;
            
            }
        .holder {
            position: relative;
            top: 60%;

        }
    
        #portfolio h2 {
            font-size: 1.5em;
        }
    
        #portfolio p {
            font-size: 1.25em;
        }
    
        #about h2 {
            font-size: 1.5rem;
        }
    
        #about p {
            font-size: 1.25rem;
        }
    
        #contact h2 {
            font-size: 2em;
        }

